.resume{
    color:darkcyan;
    text-align: center;

}
.contact{
    color:darkseagreen;
}
img{
    border-style:solid;
}
h1{
    color:olive;
}
body{
    font-style:normal;
    font-family:Lucida Sans;
}